<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Web Audio Demo</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div class="space"></div>
	
	<p id="pad1" class="buffer-button">Pad 1</p>
	<p id="pad2" class="buffer-button">Pad 2</p>
	<p id="pad3" class="buffer-button">Pad 3</p>
	<p id="pad4" class="buffer-button">Pad 4</p>
	<p id="pad5" class="buffer-button">Pad 5</p>
	<p id="pad6" class="buffer-button">Pad 6</p>
	<p id="pad7" class="buffer-button">Pad 7</p>
	<p id="pad8" class="buffer-button">Pad 8</p>
	<p id="pad9" class="buffer-button">Pad 9</p>
	<p id="pad10" class="buffer-button">Pad 10</p>
	<p id="pad11" class="buffer-button">Pad 11</p>
	<p id="pad12" class="buffer-button">Pad 12</p>
	<p id="pad13" class="buffer-button">Pad 13</p>
	<p id="pad14" class="buffer-button">Pad 14</p>
	<p id="pad15" class="buffer-button">Pad 15</p>
	<p id="pad16" class="buffer-button">Pad 16</p>

	
	

	<h2>HTML Forms</h2>

<form action="/action_page.php">
  First name:<br>
  <input id="inputValue" type="text" name="firstname" value=200>
  

</form> 

<input id="slider" type="range" min="0" max="20000" step='1' value="0" class="slider">
</div>


</body>
<script type="text/javascript" src="server.js"></script>
</html>